17-2

In [2]:
import pandas as pd
import statsmodels.stats.anova as anova
import statsmodels.api as sm
from statsmodels.formula.api import ols
import numpy as np

In [3]:
csv_data = pd.read_csv('17-2.csv')

In [4]:
csv_data

        A       B       C       D
0  0.0312 -0.0224  0.0153  0.0105
1  0.0245  0.0056  0.0241  0.0186
2 -0.0156  0.0133 -0.0188 -0.0081
3  0.0113 -0.0105 -0.0031  0.0234
4  0.0055  0.0141 -0.0065  0.0033

In [12]:
model = ols('A ~ B+C+D',data =csv_data).fit()
table = anova.anova_lm(model)
table

           df    sum_sq   mean_sq         F    PR(>F)
B         1.0  0.000646  0.000646  9.061634  0.204182
C         1.0  0.000608  0.000608  8.527587  0.210037
D         1.0  0.000002  0.000002  0.030188  0.890483
Residual  1.0  0.000071  0.000071       NaN       NaN