2.

In [1]:
import pandas as pd
import numpy as np

<font size=6>**head**</font>

In [2]:
csv_data = pd.read_csv('hitstory.csv')

In [3]:
csv_data.head()

,Convertible.Arbitrage,CTA.Global,Distressed.Securities,Emerging.Markets,Equity.Market.Neutral,Event.Driven,Fixed.Income.Arbitrage,Global.Macro,Long.Short.Equity,Merger.Arbitrage,Relative.Value,Short.Selling,Date
0,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,1997-01-31
1,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,1997-02-28
2,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,1997-03-31
3,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,1997-04-30
4,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,1997-05-31

<font size=6>**營利月份數**</font>

In [4]:
Profitablemonths = []
sum = 0
for i in range(len(csv_data['Emerging.Markets'])):
    if(csv_data['Emerging.Markets'][i] > 0):
        Profitablemonths.append('營利年月：'+csv_data['Date'][i].split('-')[0]+'年'+csv_data['Date'][i].split('-')[1]+'月')
        sum +=1
print(Profitablemonths)
print('\n\n營利月份數:'+str(sum)+'個月')

['營利年月：1997年01月', '營利年月：1997年02月', '營利年月：1997年04月', '營利年月：1997年05月', '營利年月：1997年06月', '營利年月：1997年07月', '營利年月：1997年09月', '營利年月：1997年12月', '營利年月：1998年02月', '營利年月：1998年03月', '營利年月：1998年04月', '營利年月：1998年07月', '營利年月：1998年10月', '營利年月：1998年11月', '營利年月：1999年02月', '營利年月：1999年03月', '營利年月：1999年04月', '營利年月：1999年05月', '營利年月：1999年06月', '營利年月：1999年10月', '營利年月：1999年11月', '營利年月：1999年12月', '營利年月：2000年01月', '營利年月：2000年02月', '營利年月：2000年03月', '營利年月：2000年06月', '營利年月：2000年07月', '營利年月：2000年08月', '營利年月：2000年12月', '營利年月：2001年01月', '營利年月：2001年04月', '營利年月：2001年05月', '營利年月：2001年06月', '營利年月：2001年08月', '營利年月：2001年10月', '營利年月：2001年11月', '營利年月：2001年12月', '營利年月：2002年01月', '營利年月：2002年02月', '營利年月：2002年03月', '營利年月：2002年04月', '營利年月：2002年05月', '營利年月：2002年08月', '營利年月：2002年10月', '營利年月：2002年11月', '營利年月：2002年12月', '營利年月：2003年01月', '營利年月：2003年02月', '營利年月：2003年03月', '營利年月：2003年04月', '營利年月：2003年05月', '營利年月：2003年06月', '營利年月：2003年07月', '營利年月：2003年08月', '營利年月：2003年09月', '營利年月：2003年10月', '營利年月：2003年11月', '營利年月：2003年12月', '營利年月：2004年01月', '營利年月：2004年02月', '營利年月：2004年03月', '營利年月：2004年06月', '營利年月：2004年08月', '營利年月：2004年09月', '營利年月：2004年10月', '營利年月：2004年11月', '營利年月：2004年12月', '營利年月：2005年01月', '營利年月：2005年02月', '營利年月：2005年05月', '營利年月：2005年06月', '營利年月：2005年07月', '營利年月：2005年08月', '營利年月：2005年09月', '營利年月：2005年11月', '營利年月：2005年12月', '營利年月：2006年01月', '營利年月：2006年02月', '營利年月：2006年03月', '營利年月：2006年04月', '營利年月：2006年07月', '營利年月：2006年08月', '營利年月：2006年09月', '營利年月：2006年10月', '營利年月：2006年11月', '營利年月：2006年12月', '營利年月：2007年01月', '營利年月：2007年02月', '營利年月：2007年03月', '營利年月：2007年04月', '營利年月：2007年05月', '營利年月：2007年06月', '營利年月：2007年07月', '營利年月：2007年09月', '營利年月：2007年10月', '營利年月：2007年12月', '營利年月：2008年02月', '營利年月：2008年04月', '營利年月：2008年05月', '營利年月：2009年03月', '營利年月：2009年04月', '營利年月：2009年05月', '營利年月：2009年06月', '營利年月：2009年07月', '營利年月：2009年08月']


營利月份數:105個月

<font size=6>**虧損月份數**</font>

In [5]:
MonthsOfLoss = []
sum = 0
for i in range(len(csv_data['Emerging.Markets'])):
    if(csv_data['Emerging.Markets'][i] < 0):
        MonthsOfLoss.append('虧損年月：'+csv_data['Date'][i].split('-')[0]+'年'+csv_data['Date'][i].split('-')[1]+'月')
        sum +=1
print(MonthsOfLoss)
print('\n\n虧損月份數:'+str(sum)+'個月')

['虧損年月：1997年03月', '虧損年月：1997年08月', '虧損年月：1997年10月', '虧損年月：1997年11月', '虧損年月：1998年01月', '虧損年月：1998年05月', '虧損年月：1998年06月', '虧損年月：1998年08月', '虧損年月：1998年09月', '虧損年月：1998年12月', '虧損年月：1999年01月', '虧損年月：1999年07月', '虧損年月：1999年08月', '虧損年月：1999年09月', '虧損年月：2000年04月', '虧損年月：2000年05月', '虧損年月：2000年09月', '虧損年月：2000年10月', '虧損年月：2000年11月', '虧損年月：2001年02月', '虧損年月：2001年03月', '虧損年月：2001年07月', '虧損年月：2001年09月', '虧損年月：2002年06月', '虧損年月：2002年07月', '虧損年月：2002年09月', '虧損年月：2004年04月', '虧損年月：2004年05月', '虧損年月：2004年07月', '虧損年月：2005年03月', '虧損年月：2005年04月', '虧損年月：2005年10月', '虧損年月：2006年05月', '虧損年月：2006年06月', '虧損年月：2007年08月', '虧損年月：2007年11月', '虧損年月：2008年01月', '虧損年月：2008年03月', '虧損年月：2008年06月', '虧損年月：2008年07月', '虧損年月：2008年08月', '虧損年月：2008年09月', '虧損年月：2008年10月', '虧損年月：2008年11月', '虧損年月：2008年12月', '虧損年月：2009年01月', '虧損年月：2009年02月']


虧損月份數:47個月

<font size=6>**營利月份概率**</font>

In [6]:
BinomialDistribution = np.random.binomial(1,0.5,10000000)
sum = 0
for i in range (10000000):
    if BinomialDistribution[i] ==1 :
       sum +=1
print('機率：'+str(sum/10000000))

機率：0.5001782

<font size=6>**2010營利6個月份概率**</font>

In [7]:
BinomialDistribution = np.random.binomial(12,0.5,10000000)
sum = 0
for i in range (10000000):
    if BinomialDistribution[i] >= 6 :
       sum +=1
print('機率：'+str(sum/10000000))

機率：0.6130189